<!-- Topbar Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <button
      type="button"
      id="sidebarCollapse"
      class="navbar-btn menutoggle"
      aria-label="Sidebar toggle"
      appMenuToggle
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>
<!-- end Topbar -->
