<!-- Footer Start -->
<footer class="footer">
  <a target="blank" title="GPL-3" href="https://www.gnu.org/licenses/gpl-3.0.en.html"> Copyleft </a>
  🄯.
  {{ currentYear }}
  <a target="blank" title="Gitlab@GrassrootsEconomics" href="https://gitlab.com/grassrootseconomics"
    ><u> Grassroots Economics </u></a
  >
</footer>
<!-- end Footer -->
